<ion-view class="jobs" title="职位信息">

	<ion-tabs tabs-type="tabs-icon-only">
	    <ion-tab title="校园招聘" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
	        <ion-content has-header="true">
	            <ion-list>
	            		<ion-item class="item-icon-right" ng-repeat="progress in progressArr">
	            			<p class="job-title">{{progress.title}}</p>
	            			<p>{{progress.location}}</p>
	            			<p class="job-time">网申时间：{{progress.time}}</p>

				
	            		</ion-item>
	            </ion-list>
	            <ion-infinite-scroll ng-if="moreDataExists()" on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
	        </ion-content>
	    </ion-tab>

	    <ion-tab title="Camera" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline">
	        <ion-content has-header="true" padding="true">
	            <h2>拍个照吧！</h2>
	            <p>some pictures</p>
	        </ion-content>
	    </ion-tab>

	    <ion-tab title="Books" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
	        <ion-content has-header="true" padding="true">
	            <h2>不行就来看看书呗</h2>
	            <p>some books</p>
	        </ion-content>
	    </ion-tab>

	</ion-tabs>

</ion-view>